@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()*@

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "Admin" }, htmlAttributes: new { title = "Gerenciar" })
            </li>
            <li>@Html.ActionLink("Sair", "SignOut", "Home", new { area = "Admin" })</li>
        </ul>
    //}
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registra", "Register", "Account", new{ area="Admin" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "Admin" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
